div {
    border:1px solid;
    height: 70px;
    width: 100%;
    padding: 8px
}

div.div2 {
    height: 200px;
    width: 50%;
    background-color: powderblue
}
p.first {
    width: 500px;
    background-color: aqua;
}
p.sec {
    max-width: 500px;
    background-color: aqua;
}