#example1{
    background-image: url(player.png), url(BG2.png);
    background-position: right bottom, right bottom;
    background-repeat: no-repeat, repeat;
    padding:15px;
    background-size: 100px 
}