.div1 {
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 1px solid black;
    transform: rotate(30deg)
}
.div2 {
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 1px solid black;
    transform: translate(100px, 100px)
}

.div3 {
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 1px solid black;
    transform: skewX(30deg)
}
.div4 {
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 1px solid black;
    transition: transform 2s
}
.div4:hover {
    transform: rotateX(150deg)
}


