#overflowTest {
    background:blue;
    color: white;
    padding: 15px;
    width: 90%;
    height: 100px;
    overflow: scroll;
    border: 1px solid green
}
div.try {
    background-color: orange;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: visible
}